<button id="previous" onclick="AddConnections()">Add a new connection</button>
<div id="AddConnection"></div>


create a form for that takes a name
search all users with that name
display the users with profile pic
user clicks a profile pic and that user gets sent a connection request
