<input id="user_id" type="hidden" name="user_id" value="<%=current_user.id%>">

<div class="container" style= "width: 510px; height: 500px;">
  <!-- <canvas id="myChart" max-width="400" max-height="400" height="700" width="900" style= "width: 510px; height: 500px;"></canvas> -->
</div>
