<<<<<<< HEAD

<br>

  <input id= "user_name" type="text" name="user_name" placeholder="Enter Name">
  <button onclick="searchNames()"type="submit" name="button">Search</button>

  <div id="foundNames"></div>

  <br>
  <button onclick="getGraphs()">Click me to for graph</button>
  <div class="displayGraph">

  </div>

 <!-- Insert code to display graph's comments -->

 <!--Insert go left button .... Insert Edit Button ..... Insert go right button-->
=======
<style>
div.container {
    width: 600px;
    height: 1300px;
    border-radius: 25px;
    background: #F9F9F9;
    padding: 20px;
    overflow: scroll;
}
</style>
<input type="hidden" name="location" value="user_show_page">
<%= render 'graphs/graphs' %>
>>>>>>> 4339e386e5d5a14c32f24da85bcc395ba81805c8
