<!-- <form action="/users" method="get"> -->
<br>

  <input id= "user_name" type="text" name="user_name" placeholder="Enter Name">
  <button onclick="searchNames()"type="submit" name="button">Search</button>
<!-- </form> -->
  <div id="foundNames"></div>

<!--


<button id="previous" onclick="AddConnections()">Add a new connection</button>
<div id="AddConnection"></div>


create a form for that takes a name
search all users with that name
display the users with profile pic
user clicks a profile pic and that user gets sent a connection request -->
