<header id="first">
  <div class="header-content">
      <div class="inner">
          <h1 class="cursive">Tiedot</h1>
          <h4>The future of sharing data</h4>
      </div>
  </div>
</header>

  <video autoplay="" loop="" data-wow-delay="0.5s" id="video-background">
      <source src="/White-Board.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
