<header id="first">
  <div class="header-content">
      <div class="inner">
          <h1 class="cursive">Tiedot</h1>
          <h4>The future of sharing data</h4>
          <hr>
      </div>
  </div>
  <video autoplay="" loop="" class="fullscreen-bg__video" data-wow-delay="0.5s" id="video-background">
      <source src="/White-Board.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="/White-Board.webm" type="video/mp4">
  </video>
</header>
